html {
  background-image: url(./assets/background-stars.svg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: #070724;
}

.App {
  text-align: center;
}

body {
  color: #FFFFFF;
  font-family: 'Spartan', sans-serif;
  height: 100%;
}

h1 {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

h2 {
  font-family: 'Antonio', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #838391;
}

.source-link {
  text-decoration: underline;
}

.source {
  margin-bottom: 30px;
}

p {
  font-weight: 300;
  line-height: 25px;
  font-size: 12px;
  max-width: 80%;
  margin: auto;
}

ul {
  padding: 0;
}

.information {
  margin-bottom: 20px;
}

#tablet, #desktop {
  display: none;
}

/* Nav  */

nav {
  border-bottom: 1px solid #838391;
}

nav, #sidebar-header{
  display: flex;
  justify-content: space-between;
}

#sidebar-header {
  border-bottom: 1px solid #838391;
}

#menu-choices {
  display: none;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/background-stars.svg);
  background-color: #070724;
  z-index: 1000;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
}

#sidebar.sidebar-closed {
  transform: translate3d(100vw, 0, 0);
}

#sidebar.sidebar-open {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#sidebar ul {
  margin-top: 0;
}

.sb-menu-item {
  position: relative;
  height: 56px;
  font-family: Spartan, sans-serif;
  font-weight: 600;
  border-bottom: 1px solid #838391; 
}

.sb-menu-item a {
  display: block;
  line-height: 56px;
  height: 100%;
  width: 100%;
  color: #FFFFFF;
}

#page-title {
  margin-left: 15px;
  letter-spacing: -.05rem;
}

#menu-toggle {
  background-color: #070724;
  border: none;
  margin-right: 15px;
}



/* Tabs */

.tab-section {
  border-top: 1px solid #838391;
  border-bottom: 1px solid #838391;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tab-button {
  background-color: #070724;
  border: none;
  color: #838391;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: .05rem;
  font-family: Spartan, sans-serif;
}

.tab-content-hidden {
  display: none;
}

.tab-content-active {
  display: block;
}


/* Planet Images */

.image-container {
  position: relative;
  height: 304px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.geology-img {
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -50px;
  z-index: 999;
  max-width: 100px;
}

#mercury-image {
  position: relative;
  max-width: 34%;
  margin: auto;
}

#venus-image {
  max-width: 40%;
  margin: auto;
}

#earth-image {
  max-width: 45%;
  margin: auto;
}

#mars-image {
  max-width: 37%;
  margin: auto;
}

/* review planet image sizes */
#jupiter-image {
  max-width: 300px;
  margin: auto;
}

#saturn-image {
  max-width: 80%;
  margin: auto;
}

#uranus-image {
  max-width: 55%;
  margin: auto;
}

#neptune-image {
  max-width: 55%;
  margin: auto;
}

/* Stats */

.stat-section {
  margin-bottom: 30px;
}

.stat-box {
  max-width: 90%;
  border: 1px solid #838391;
  margin: 4px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 48px;
}

.stat-title {
  font-size: 10px;
  color: #838391;
  margin-left: 20px;
  letter-spacing: .05rem;
}

.stat-metric {
  font-size: 20px;
  margin-right: 20px;
}

/* Media Queries */

@media screen and (min-width: 481px) {

  #mobile, #desktop {
    display: none;
  }

  #tablet {
    display: block;
  }

  /* Nav & Menu Media Queries */

  #menu-toggle, #sidebar {
    display: none;
  }

  nav {
    display: block;
  }

  nav h1 {
    font-size: 30px;
  }

  #menu-choices {
    width: 90%;
    height: 100%;
    line-height: 80px;
    margin: auto;
    display: flex;
    font-size: 1.6vw;
    font-weight: 550;
    justify-content: space-around;
  }

  #menu-choices li a {
    color: #FFFFFF;
    letter-spacing: .1rem
  }

  /* Tabs & Content*/

  .tablet-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
  }

  .text-block {
    width: 50%;
  }

  .text-block p {
    text-align: left;
  }

  .tab-section {
    display: block;
    width: 50%;
    height: 100%;
    border: none;
  }

  .tab-button {
    width: 80%;
    height: 40px;
    border: 1px solid #838391;
    margin: 6px 0;
  }
}

@media screen and (min-width: 769px) {

  #mobile, #tablet {
    display: none;
  }

  #desktop {
    display: block;
  }

  /* Nav & Menu Media Queries */
  nav {
    display: flex;
    justify-content: space-between;
  }

  #menu-choices {
    margin: 0;
    width: 60%;
    line-height: 90px;
    font-size: .8vw;
  }

  /* Tablet Content Arrangement */

  .image-container {
    display: block;
  }
}





